# -------------------------
# Python
# -------------------------
venv/
.venv/
__pycache__/
*.pyc

# -------------------------
# Environment variables
# -------------------------
.env
.env.*
!.env.example

# -------------------------
# UV
# -------------------------
uv.lock

# -------------------------
# Terraform / OpenTofu
# -------------------------
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# -------------------------
# Cloud / credentials
# -------------------------
.gcp/
*service*account*.json
application_default_credentials.json
credentials*.json
*.p12
*.pem

# -------------------------
# Cloud / deploy artifacts
# -------------------------
.gcloudignore
*.log

# -------------------------
# IDE
# -------------------------
.idea/

# -------------------------
# OS
# -------------------------
.DS_Store
